{% extends "todo/base.html" %}
{% block content %}

<html>
	<head>
		<title>My Stack hack Todo</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="todo/h.css" />
	</head>
	<body>



		<!-- Banner -->
			<section id="banner">
				<div class="inner">
                    <h1>Todo: <span>A Todo site for users</span><br /></h1>


				</div>
			</section>

		<!-- One -->
			<section id="one">
				<div class="inner">
					<header>
						<h2>Features</h2>
					</header>
					<p><I>1. Labels to Tasks like Personal, Work, Shopping and
Others.</I></p>
<p><I>     2. Status of the Tasks like Active, done</I></p>
<p><I>     3. The Signup and Login/Logout functionality. You have to create user-auth schema in the
database.</I></p>
<p><I>     4. Implement a feature to Search and Filter Tasks based on Date-time, Priority and Labels, and
a combination of at least two or more.</I></p>

				</div>
			</section>




</html>

{% endblock content %}